<main class="container">
<h1><%= link_to(@tournament.name,"/tournaments/#{@tournament.id}") %></h1>

<p><%= link_to("Add Participants","/tournaments/#{@tournament.id}/new") %></p>
<p><%= link_to("Start!","/tournaments/#{@tournament.id}/start",{method: "post"}) %></p>
<p><%= link_to("Finalize!","/tournaments/#{@tournament.id}/finalize",{method: "post"}) %></p>


<div class="container p-0 mb-4">
<h3>Information</h3>
<ul>
  <li>State: <%=@tournament.state %></li>
  <li>URL: <%= @tournament.url %></li>
  <li>Type: <%= @tournament.tournament_type %></li>
</ul>
</div>

<div class="container p-0">
<h3>Participants</h3>
<ul>
<% @tournament.participants.each do |participant| %>
  <li><%= participant.name %></li>
<% end %>
</ul>
</div>

<div class="container p-0">
<h3>Matches</h3>
<% @tournament.matches.each do |match| %>
<div class="container p-0">
<h4><%= link_to("#{@player[match.player1_id]} vs #{@player[match.player2_id]}","/tournaments/#{@tournament.id}/match/#{match.id}") %></h4>
<ul>
  <li><%= @player[match.player1_id] %> vs <%= @player[match.player2_id] %></li>
  <li>ID: <%= match.id %></li>
  <li>Round: <%= match.round %></li>
  <li>State: <%= match.state %></li>
  <li>Score: <%= match.scores_csv %></li>
</ul>
</div>
<% end %>
</div>


<iframe src="https://challonge.com/<%=@tournament.url%>/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>

</main>